.container {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7rem;
    margin-bottom: 7rem;
    padding: 2rem 0 2rem 0;
    @media screen and (min-width: 1024px) {
        padding: 5rem 0 3rem 0;
        margin-top: 14rem;
        margin-bottom: 14rem;
    }
}

.background {
    width: 100vw;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -10;
    margin-left: -1rem;
    margin-right: -1rem;
    background-size: cover;
    background-color: #FDF5FF;
    @media screen and (min-width: 1024px) {
        margin-left: -5rem;
        margin-right: -5rem;
    }
}

.description {
    margin-bottom: 1.5rem;
    p {
        color: #707070;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.875rem;
        text-align: center;
    }
    @media screen and (min-width: 1024px) {
        margin-bottom: 2rem;
    }
}

.list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    mix-blend-mode: luminosity;

    @media screen and (min-width: 1024px) {
        width: 80%;
        gap: 1rem;
    }
}
.wave_bottom {
    position: absolute;
    width: 100vw;
    bottom: -2rem;
    left: 0;
    overflow: hidden;
    line-height: 0;
    margin-left: -1rem;
    margin-right: -1rem;
    transform: rotate(180deg);

    svg {
        position: relative;
        display: block;
        transform: rotateY(180deg);
        width: 137%;
        height: 2rem;
        @media screen and (min-width: 1024px) { 
            height: 8rem;
        }
    }

    @media screen and (min-width: 1024px) {
        margin-left: -5rem;
        margin-right: -5rem;
        bottom: -8rem;
    }
}

.wave_top {
    position: absolute;
    width: 100vw;
    top: -2rem;
    left: 0;
    overflow: hidden;
    line-height: 0;
    margin-left: -1rem;
    margin-right: -1rem;

    svg {
    position: relative;
    display: block;
    transform: rotateY(180deg);
    width: calc(159% + 1.3px);
    height: 2rem;
    @media screen and (min-width: 1024px) { 
        height: 8rem;
    }
    }

    @media screen and (min-width: 1024px) {
        margin-left: -5rem;
        margin-right: -5rem;
        top: -8rem;
    }
}