@mixin small-part-header {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.75rem;
}
@mixin small-part-text {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color:  #556987;
    ;
}
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1.25rem;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;

    h1 {
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 2.25rem;
      color: #000D36;

    }

    p {
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.75rem;
        color: #000D36;
    }
}

.content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
    align-items: center;
    margin-top: 2.5rem;
    @media screen and (min-width: 1024px) {
        margin-top: 4.688rem;
    }
}

.image {
    display: none;
    width: 50%;
    @media screen and (min-width: 1024px) {
        display: block;
    }
}

.list {
    display: flex;
    flex-direction: column;
    row-gap: 3.125rem;
    width: 80%;
    .list_item {
        display: flex;
        flex-direction: column;
        row-gap: 0.75rem;
        width: 100%;
        .item_text {
            display: flex;
            flex-direction: column;
            h3 {
                @include small-part-header
            }
            p {
                @include small-part-text
            }
        }
        @media screen and (min-width: 1024px) {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            column-gap: 0.75rem;
            width: 28.5rem;
        }
    }
    @media screen and (min-width: 1024px) {
        row-gap: 3.125rem;
        width: 40%;
    }
}